

<div id="course_note">
    <ul class="mod-post" id="comment-list">
        {% for comment in all_comment %}
        <li class="post-row">
            <div class="media">
                <span target="_blank"><img style="cursor: pointer" src='{{ MEDIA_URL }}{{ comment.user.pic }}' width='40' height='40' /></span>
            </div>
            <div class="bd">
                <div class="tit">
                    <span target="_blank" style="color:rgb(200,70,0);font-weight: 700;">{{ comment.user.username }}</span>
                </div>
                <p class="cnt">{{ comment.content }}</p>
                <div class="footer clearfix">
                    <span title="评论时间" class="l timeago">时间：{{ comment.add_time }}</span>
                </div>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
